apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: status-reporter
  namespace: "{{ .clusterId  }}"
  labels:
    hyperfleet.io/cluster-id: "{{ .clusterId }}"
    hyperfleet.io/resource-type: "role"
  annotations:
    hyperfleet.io/generation: "{{ .generation }}"
rules:
  # Permission to get and update job status
  - apiGroups: [ "batch" ]
    resources: [ "jobs" ]
    verbs: [ "get" ]
  - apiGroups: [ "batch" ]
    resources: [ "jobs/status" ]
    verbs: [ "get", "update", "patch" ]
  # Permission to get pod status
  - apiGroups: [ "" ]
    resources: [ "pods" ]
    verbs: [ "get", "list" ]
