{{- if .Values.broker.create }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "hyperfleet-adapter.brokerConfigMapName" . }}
  labels:
    {{- include "hyperfleet-adapter.labels" . | nindent 4 }}
    app.kubernetes.io/component: broker-config
    {{- if .Values.broker.type }}
    hyperfleet.io/broker-type: {{ .Values.broker.type }}
    {{- end }}
data:
  {{- if .Values.broker.subscriptionId }}
  # Subscription that the adapter consumes from
  BROKER_SUBSCRIPTION_ID: {{ .Values.broker.subscriptionId | quote }}
  {{- end }}
  {{- if .Values.broker.topic }}
  # Topic that the adapter consumes from
  BROKER_TOPIC: {{ .Values.broker.topic | quote }}
  {{- end }}
  {{- if .Values.broker.env }}
  # Additional broker environment variables
  {{- range $key, $value := .Values.broker.env }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}
  {{- end }}
  {{- if .Values.broker.yaml }}
  # Broker configuration file (broker.yaml)
  broker.yaml: |
{{ .Values.broker.yaml | indent 4 }}
  {{- end }}
{{- end }}

